.ballslot {
    float: left;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.ballNumber {
    font-size: 2em;

}

.payoutTable {
    padding: 10px; 
    border: none;
    border-collapse: collapse;
}

.payoutTableCell {
    text-align: right;
    padding: 10px; 
    border: 1px solid black; 
}

#statusbox {
    width: calc(100%-10px);
    border-style: solid;
    border-width: 1px;
    box-shadow: 4px 4px 3px grey;
    padding: 4px;
    margin: 10px;
    float: top;
}

#ballBox {
    border-style: solid;
    border-width: 1px;
    box-shadow: 4px 4px 3px grey;
    padding: 4px; 
    margin: 10px;
    float: left;
}

#upgradesBox {
    border-style: solid;
    border-width: 1px;
    box-shadow: 4px 4px 3px grey;
    padding: 4px; 
    margin: 10px;
    float: left;

}

#payoutTableDiv{
    clear: left;
    border-style: solid;
    border-width: 1px;
    box-shadow: 4px 4px 3px grey;
    padding: 4px; 
    margin: 10px;
    float: left;
}

#payoutPreviewDiv{
    display: none;
    clear: left;
    border-style: solid;
    border-width: 1px;
    box-shadow: 4px 4px 3px grey;
    padding: 4px; 
    margin: 10px;
    color: red;
    float: left;
}